[flake8]
ignore = E203, E231, W503
max-line-length = 88
exclude = .git, .venv, __pycache__, .eggs, *.egg, build, dist

# Ignore F401 and F403 only for __init__.py files
per-file-ignores =
    */__init__.py: F401, F403

# Warn if the complexity of a function exceeds 10
max-complexity = 10
