include .github/dependabot.yml
include .github/workflows/build_and_test.yml
include .github/workflows/pages.yml
include .github/workflows/wheels.yml
include .gitignore
include CMakeLists.txt
include LICENSE
include MANIFEST.in
include README.md
include benchmarking/benchmark_basic_operations.ipynb
include benchmarking/benchmark_gaussian.ipynb
include benchmarking/benchmark_histogram.ipynb
include benchmarking/benchmark_mini_pipeline.ipynb
include benchmarking/benchmark_otsu.ipynb
include benchmarking/benchmarking_tribolium_workflow.ipynb
include demos/add_image_and_scalar.cl
include demos/cell_segmentation.ipynb
include demos/explore_API.ipynb
include demos/find_local_maxima.ipynb
include demos/image_API.ipynb
include demos/image_filtering.ipynb
include demos/images/cell_segmentation.png
include demos/images/explore_API.png
include demos/images/find_local_maxima.png
include demos/images/image_filtering.png
include demos/images/labeled_blobs.png
include demos/images/multi-gpu.png
include demos/images/tribolium3d_segmentation.png
include demos/multi_gpu_demo.ipynb
include demos/process_blobs.ipynb
include demos/process_tribolium.ipynb
include demos/run_custom_kernel.ipynb
include developer_docs/API_demo.ipynb
include docs/Makefile
include docs/README.rst
include docs/make.bat
include docs/source/api.rst
include docs/source/conf.py
include docs/source/index.rst
include docs/source/install.rst
include docs/source/usage.rst
include pyclesperanto/__init__.py
include pyclesperanto/_array.py
include pyclesperanto/_core.py
include pyclesperanto/_decorators.py
include pyclesperanto/_functionalities.py
include pyclesperanto/_memory.py
include pyclesperanto/_operators.py
include pyclesperanto/_tier1.py
include pyclesperanto/_tier2.py
include pyclesperanto/_tier3.py
include pyclesperanto/_tier4.py
include pyclesperanto/_tier5.py
include pyclesperanto/_version.py
include pyproject.toml
include scripts/build-opencl-linux.sh
include scripts/build-opencl-macos.sh
include scripts/build-opencl-windows.sh
include scripts/pyclesperanto_autogen_tier_script.ipynb
include setup.py
include tests/test_core.py
include tests/test_import.py
include tests/test_tier1.py
include tests/test_tier2.py
include tests/test_tier3.py
include tests/test_tier4.py
include tests/test_tier5.py
include tests/test_tier6.py
include wrapper/array_.cpp
include wrapper/core_.cpp
include wrapper/pycle_wrapper.cpp
include wrapper/pycle_wrapper.hpp
include wrapper/tier1_.cpp
include wrapper/tier2_.cpp
include wrapper/tier3_.cpp
include wrapper/tier4_.cpp
include wrapper/tier5_.cpp
include wrapper/types_.cpp
exclude MANIFEST.in