name: Tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '**.txt'
  pull_request:
    branches: [ main ]

jobs:

  build:

    name: ${{ matrix.platform }} ( ${{ matrix.python-version }})
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      max-parallel: 3
      matrix:
        python-version: ["3.10"]
        platform: [ubuntu-latest] #, windows-latest, macos-latest] 

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up conda ${{ matrix.python-version }}
        uses: conda-incubator/setup-miniconda@v2.2.0
        with:
          auto-update-conda: true
          activate-environment: test
          python-version: ${{ matrix.python-version }}
          channels: conda-forge

      - name: Conda info
        shell: bash -l {0}
        run: conda info

      - name: Install dependencies
        shell: bash -l {0}
        run: pip install scikit-build pytest pytest-cov pytest-benchmark

      - name: Install pocl
        shell: bash -l {0}
        run: conda install -y pocl

      - name: Compile
        shell: bash -l {0}
        run: |
          pip install . -vvv

      - name: Tests
        shell: bash -l {0}
        run: |
          pytest -v --cov=./ --cov-report=xml

      - name: Coverage
        uses: codecov/codecov-action@v3
        

